<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body>
<div id="tb">
    <table width="100%" border="0">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" icon="icon-add" href="javascript:void(0);" onclick="materialImport()">导入</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-undo" href="javascript:void(0);" onclick="materialExport()">导出</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-edit" href="javascript:void(0);" onclick="verify()">审核</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-edit" href="javascript:void(0);" onclick="inStorage()">入库</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-cut" href="javascript:void(0);" onclick="del()">删除</a>
            </td>
            <td align="right">
                <form id="form1" modelAttribute="enrollment" action="/materialInput/list" method="post">
                    供应商: <select th:value="${form.supplierId}" id="supplierId" name="supplierId">
                    <option value="">不选择</option>
                    <option th:selected="${form.supplierId == supplier.supplierId}" th:each="supplier:${supplierList}" th:value="${supplier.supplierId}" th:text="${supplier.supplierName}"></option>
                </select>
                    物料名称: <input th:value="${form.materialName}" type="text" id="materialName" name="materialName" style="width:110px;">
                    生产批号: <input th:value="${form.batchNo}" type="text" id="batchNo" name="batchNo" style="width:110px;">
                    审核状态：
                    <select th:value="${form.status}" name="status" id="status">
                        <option value="" th:selected="${form.status == ''}">不选择</option>
                        <option value="0" th:selected="${form.status == 0}">未审核</option>
                        <option value="1" th:selected="${form.status == 1}">已审核</option>
                        <option value="2" th:selected="${form.status == 2}">已入库</option>
                    </select>
                    日期:<input th:value="${form.orderDate1}" class="easyui-datebox" id="orderDate1" name="orderDate1" editable="false"  style="width:130px;">
                    -<input th:value="${form.orderDate2}" class="easyui-datebox" id="orderDate2" name="orderDate2" editable="false" style="width:130px;">
                    <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" onclick="materialInputSearch()" iconCls="icon-search" >搜索</a>
                </form>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="current" th:value="${page.current}"/>
<input type="hidden" id="size" th:value="${page.size}"/>
<input type="hidden" id="total" th:value="${page.total}"/>
<table class="easyui-datagrid" id="dgitem" pagination="true" style="height:550px;width: auto;" singleSelect="false">
    <thead>
    <tr>
        <th width="50" align="center" checkbox="true" field="id" >选择</th>
        <th width="150" align="center" field="supplierName">供应商</th>
        <th width="120" align="center" field="oprDate">到货日期</th>
        <th width="100" align="center" field="storageName">入库仓库</th>
        <th width="60" align="center" field="materialCode">物料编码</th>
        <th width="100" align="center" field="materialName">物料名称</th>
        <th width="60" align="center" field="style">规格型号</th>
        <th width="60" align="center" field="unitName">计量单位</th>
        <th width="90" align="center" field="orderId">采购单号</th>
        <th width="130" align="center" field="batchNo">生产批号</th>
        <th width="60" align="center" field="orderCnt">数量</th>
        <th width="80" align="center" field="status">审核状态</th>
        <th width="150" align="center" field="orderNo">入库单号</th>
        <th width="80" align="center" field="userName">操作员</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="materialInput:${page.data}">
            <td th:text="${materialInput.materialInputId}"></td>
            <td th:text="${materialInput.supplierName}"></td>
            <td th:text="${materialInput.orderDate}"></td>
            <td th:text="${materialInput.storageName}"></td>
            <td th:text="${materialInput.materialCode}"></td>
            <td th:text="${materialInput.materialName}"></td>
            <td th:text="${materialInput.style}"></td>
            <td th:text="${materialInput.unitName}"></td>
            <td th:text="${materialInput.orderId}"></td>
            <td th:text="${materialInput.batchNo}"></td>
            <td th:text="${materialInput.orderCount}"></td>
            <td th:if="${materialInput.status == 0}">未审核</td>
            <td th:if="${materialInput.status == 1}">已审核</td>
            <td th:if="${materialInput.status == 2}">已入库</td>
            <td th:text="${materialInput.orderNo}"></td>
            <td th:text="${materialInput.userName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>