<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chivotech.pssms.mapper.MaterialTypeMapper">

    <resultMap id="BaseResultMap" type="com.chivotech.pssms.entity.MaterialType">
            <id property="materialTypeId" column="material_type_id" jdbcType="INTEGER"/>
            <result property="materialTypeCode" column="material_type_code" jdbcType="VARCHAR"/>
            <result property="materialTypeName" column="material_type_name" jdbcType="VARCHAR"/>
            <result property="formula" column="formula" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        material_type_id,material_type_code,material_type_name,
        formula
    </sql>
</mapper>
