<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chivotech.pssms.mapper.OrderDetailMapper">

    <resultMap id="BaseResultMap" type="com.chivotech.pssms.entity.OrderDetail">
            <id property="orderDetailId" column="order_detail_id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="materialId" column="material_id" jdbcType="INTEGER"/>
            <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
            <result property="materialName" column="material_name" jdbcType="VARCHAR"/>
            <result property="style" column="style" jdbcType="VARCHAR"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="orderCount" column="order_count" jdbcType="DECIMAL"/>
            <result property="orderFlag" column="order_flag" jdbcType="VARCHAR"/>
            <result property="storageId" column="storage_id" jdbcType="INTEGER"/>
            <result property="storageName" column="storage_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_detail_id,order_no,material_id,
        material_code,material_name,style,
        unit_name,order_id,batch_no,
        order_count,order_flag,storage_id,
        storage_name
    </sql>
</mapper>
